<div class="container">
    {% include directory ~ '/partials/header.html.twig' %}
    <main>
        {{ block_one }}
        {{ block_two }}
        {{ block_three }}

        
        <div id="partners" class="partners">
                    {{ block_four }}
                    {{ block_five }}

        </div>  <section id="management" class="management-block">
            <div class="manager">
                <div class="inner">
                    <h2 class="block-title">
                        Management              </h2>
                    <div data-slide data-type="manager" data-hover=".item" data-triggers=".item" class="list-managers">
                        <div class="item">
                            <div class="img-wraper">
                                <img src="{{ tempale_root }}/images/David.png" alt="DAVID PUGLIESI"/>
                            </div>
                            <div class="info-overlay">
                                <div class="content">
                                    <h3 class="name">DAVID PUGLIESI</h3>
                                    <p class="position">President</p>
                                    <p class="desc">David has over 20 years of experience in IT and brings his French business and management know-how to ensure the group has the right strategies and the resources are in place to execute and deliver.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-wraper">
                                <img src="{{ tempale_root }}/images/QuanTran.png" alt="QUAN TRAN"/>
                            </div>
                            <div class="info-overlay">
                                <div class="content">
                                    <h3 class="name">QUAN TRAN</h3>
                                    <p class="position">Vice President</p>
                                    <p class="desc">Quan has over 20 years of experience in IT having worked for IBM and Canon in the US. He oversees the group partnerships, systems and processes so that the team has the tools and methodologies to make great deliveries.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-wraper">
                                <img src="{{ tempale_root }}/images/Chris.png" alt="Christophe Lam"/>
                            </div>
                            <div class="info-overlay">
                                <div class="content">
                                    <h3 class="name">Christophe Lam</h3>
                                    <p class="position">business development director</p>
                                    <p class="desc">Christophe has over 10 years experience in International Business Development, Account Management, Consultative sales in France and Vietnam. He oversees the group new business development and also grow the existing business accounts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-wraper">
                                <img src="{{ tempale_root }}/images/Khang.png" alt="Khang Phan"/>
                            </div>
                            <div class="info-overlay">
                                <div class="content">
                                    <h3 class="name">Khang Phan</h3>
                                    <p class="position">Operations Director</p>
                                    <p class="desc">Khang oversees all productions inside Sutrix and ensures the companies operations, processes and policies are executing effectively in support of our vision and mission. Khang has been with the group since 2004 working up through the ranks to his current role as Operations Director.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-wraper">
                                <img src="{{ tempale_root }}/images/phuong.png" alt="Phuong Huynh"/>
                            </div>
                            <div class="info-overlay">
                                <div class="content">
                                    <h3 class="name">Phuong Huynh</h3>
                                    <p class="position">Director of Finance & Admin</p>
                                    <p class="desc">Phuong is in charge of the Finance and Admin department of Sutrix Group. She oversees the financial management and administrative functions including Human Resources.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="contact" class="contact-block">
            <div class="grid-fluid">
                <h2 class="title">Contact</h2>
                <div class="block-locations">
                    <div data-hover=".offices" data-triggers=".link-locate" data-media="(min-width: 768px)" class="row">
                        <div id="map-contact" data-location data-focus="#username" class="col-md-8 col-md-push-4 map">
                            <img class="world" src="{{ tempale_root }}/images/img-offices.png" alt="Offices on world"/>

                            <a href="javascript:void(0)" title="Hong Kong Office" class="link-locate pin-hongkong yellow" data-target=".hongkong-offices" data-locator="hongkong" data-content="SUTRIX GROUP - hongkong">
                                <img src="{{ tempale_root }}/images/img-pin-yellow.png" alt="Hong Kong Office"/>
                            </a>
                            <a href="javascript:void(0)" title="Paris" class="link-locate pin-paris green" data-target=".paris-offices" data-locator="paris" data-content="SUTRIX CONSULTING - paris">
                                <img src="{{ tempale_root }}/images/img-pin-green.png" alt="Paris"/>
                            </a>
                            <a href="javascript:void(0)" title="Scandinavia Office" class="link-locate pin-scandinavia green" data-target=".scandinavia-offices" data-locator="scandinavia" data-content="SUTRIX CONSULTING - scandinavia">
                                <img src="{{ tempale_root }}/images/img-pin-green.png" alt="Scandinavia Office"/>
                            </a>
                            <a href="javascript:void(0)" title="Ho Chi Minh Office" class="link-locate pin-vietnam orange" data-target=".vietnam-offices" data-locator="vietnam" data-content="SUTRIX SOLUTIONS - vietnam">
                                <img src="{{ tempale_root }}/images/img-pin-orange.png" alt="Ho Chi Minh Office"/>
                            </a>
                        </div>
                        <div class="col-md-4 col-md-pull-8 info">
                            <p>Sutrix Consulting has offices in France and Demark for on-site digital consulting and management services. Sutrix Solutions has office in Vietnam for digital production and support services.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 col-xs-12">

            {{ form_contact }}

                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <div class="contact-info">
                            <div class="offices hongkong-offices yellow-color">
                                <address>
                                    <span class="title">SUTRIX GROUP&nbsp;|&nbsp;</span><span class="country">HongKong</span>
                                    <p class="address">7/F South Seas Centre, Tower 2<br> 75 Mody Road, Tsim Sha Tsui, Hong Kong</p>

                                </address>
                            </div>
                            <div class="offices paris-offices green-color">
                                <address>
                                    <span class="title">SUTRIX CONSULTING&nbsp;|&nbsp;</span><span class="country">France</span>
                                    <p class="address">9 Bis rue du Commandant Pilot<br> 92 200 Neuilly sur Seine, France</p>

                                    <a href="tel:+33146431863" title="+33 1 46 43 18 63" class="phone">+33 1 46 43 18 63</a>
                                </address>
                            </div>
                            <div class="offices scandinavia-offices green-color">
                                <address>
                                    <span class="title">SUTRIX CONSULTING&nbsp;|&nbsp;</span><span class="country">Scandinavia</span>
                                    <p class="address">Kronprinsessegade 54 1306 <br>Copenhagen K Denmark</p>

                                    <a href="tel:+4522221838" title="+45 22 22 18 38" class="phone">+45 22 22 18 38</a>
                                </address>
                            </div>
                            <div class="offices vietnam-offices orange-color">
                                <address>
                                    <span class="title">SUTRIX SOLUTIONS&nbsp;|&nbsp;</span><span class="country">VietNam</span>
                                    <p class="address">15th Floor, Blue Sky Tower, 1 Bach Dang Street, <br>Ward 2, Tan Binh District, Ho Chi Minh City, Vietnam</p>

                                    <a href="tel:+84839975901" title="+84 8 3997 5901" class="phone">+84 8 3997 5901</a>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="follow">
            <div class="social-contact">
                <ul class="group-link-contact">
                    <li><span class="text">Follow us</span></li>
                    <li><a href="https://www.linkedin.com/company/sutrix-group" target="_blank" title="Linkedin" class="link-icon follow-us"><span class="icon icon-linkedin"></span></a></li>
                </ul>
            </div><a href="javascript:void(0)" title="Top" class="btn-top" data-scroll-to="">Top</a>
        </div>
    </main>
    {% include directory ~ '/partials/footer.html.twig' %}

